<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
    <title><%=title%></title>
</head>
<style>
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Bellota Text', cursive;
}
body
{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   width: 100%;
   background: #f2f3f7;
}
.btn{
    padding-top: 10px;
}
.container
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}
.container .card
{
   width: 330px;
   height: 416px;
   padding: 60px 30px;
   margin: 20px;
   background: #f2f3f7;
   box-shadow: 0.6em 0.6em 1.2em #d2dce9,
               -0.5em -0.5em 1em #ffffff;
   border-radius: 20px;
}
.container .card .content
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.container .card .content .imgBx
{
   width: 180px;
   height: 180px;
   border-radius: 50%;
   position: relative;
   margin-bottom: 20px;
   overflow: hidden;
}
.container .card .content .imgBx img
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.container .card .content .contentBx h4
{
   color: #36187d;
   font-size: 1.7rem;
   font-weight: bold;
   text-align: center;
   letter-spacing: 1px;
}
.container .card .content .contentBx h5
{
   color: #6c758f;
   font-size: 1.2rem;
   font-weight: bold;
   text-align: center;
}
.container .card .content .sci
{
   margin-top: 20px;
}
.container .card .content .sci a
{
   text-decoration: none;
   color: #6c758f;
   font-size: 30px;
   margin: 10px;
   transition: color 0.4s;
}
.container .card .content .sci a:hover
{
   color: #0196e3;
}
button {
   padding: 10px;
   margin: 5px;
   text-align: center;
   background: #f9004d;
   color: white;
   text-decoration: none;
   border: 2px solid transparent;
   font-weight: bold;
   padding: 13px 30px;
   border-radius: 30px;
   transition: .4s;
}
button:hover{
   background: transparent;
   border: 2px solid #f9004d;
   cursor: pointer;
}
</style>
<body>
    <a href="/"><button class="btn"><i class="fa fa-home"></i> Home</button></a>
    <div class="container">
        <div class="card">
            <div class="content">
               <div class="imgBx">
                    <img src="assets/ai.jpg" alt="">
                </div>
                <div class="contentBx">
                    <h4>MR. K. KAMALA KANNAN</h4>
                    <h5>Teaching Fellow</h5>
                </div>
                <div class="sci">
                    <a href="tel:044-22358513"><i class="fa fa-phone" aria-hidden="true"></i></a>
                    <a href="mailto:kamalteaches@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="imgBx">
                    <img src="assets/compiler (2).jpg" alt="">
                </div>
                <div class="contentBx">
                    <h4>DR. R. LOGAMBIGAI</h4>
                    <h5>Teaching Fellow</h5>
                </div>
                <div class="sci">
                    <a href="tel:044-22358532"><i class="fa fa-phone" aria-hidden="true"></i></a>
                    <a href="mailto:rlogambigai14@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="imgBx">
                    <img src="assets/web (2).jpg" alt="">
                </div>
                <div class="contentBx">
                    <h4>MRS. N. SIVASANKARI</h4>
                    <h5>Teaching Fellow</h5>
                </div>
                <div class="sci">
                    <a href="tel:044-22358512"><i class="fa fa-phone" aria-hidden="true"></i></a>
                    <a href="mailto:sivasankari1985.n@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="content">
                    <div class="imgBx">
                        <img src="assets/mini1 (2).jpg" alt="">
                    </div>
                    <div class="contentBx">
                        <h4>DR. D. COKILAVANY</h4>
                        <h5>Assisant Professor</h5>
                    </div>
                    <div class="sci">
                        <a href="tel:044-22358532"><i class="fa fa-phone" aria-hidden="true"></i></a>
                        <a href="mailto:cokila@annauniv.edu"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        <div class="card">
            <div class="content">
                <div class="imgBx">
                    <img src="assets/media.jpg" alt="">
                </div>
                <div class="contentBx">
                    <h4>DR. S. KANNAN</h4>
                    <h5>Teaching Fellow</h5>
                </div>
                <div class="sci">
                    <a href="tel:044-22358608"><i class="fa fa-phone" aria-hidden="true"></i></a>
                    <a href="mailto:kannan_s10@annauniv.edu"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="imgBx">
                    <img src="assets/res (2).jpg" alt="">
                </div>
                <div class="contentBx">
                    <h4>DR. S. PAULRAJ</h4>
                    <h5>Professor</h5>
                </div>
                <div class="sci">
                    <a href="tel:044-22358537s"><i class="fa fa-phone" aria-hidden="true"></i></a>
                    <a href="maito:paulraj@annauniv.edu"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                </div>
            </div>
    </div>
</body>
</html>